<%= nested_form_for @movie, html: { multipart: true } do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: "form-control" %>
  
  <%= f.label :description, "Description" %>
  <%= f.cktext_area :description, class: "form-control", ckeditor: { language: 'english'} %>
  
  <%= f.label :year, "Released Year" %>
  <%= f.number_field :year, class: "form-control" %>
  
  <%= f.label :trailor, "Trailor" %>
  <%= f.text_field :trailor, class: "form-control", style: "margin-bottom: 2%;" %>
  
  <%= f.fields_for :appearences do |appearence| %>
    <div style="margin-bottom: 1%;">
      <%= appearence.select :actor_id, options_from_collection_for_select(@actors, 'id', 'name', appearence.object.actor_id), { prompt: "Select Actor" }, class: "form-control actor_nested_form_select", style: "width: 20%;" %>
      <%= appearence.link_to_remove "Remove this actor", class: "btn btn-danger" %>
    </div>
  <% end %>
  
  <%= f.fields_for :posters do |poster| %>
    <div style="margin-bottom: 1%; margin-top: 1%;">
      <%= poster.file_field :image, class: "form-control actor_nested_form_select", style: "width: 20%;" %>
      <%= poster.link_to_remove "Remove this poster", class: "btn btn-danger" %>
    </div>
  <% end %>
  
  <%= f.link_to_add "Add Actor", :appearences, class: "btn btn-info form-buttons-margin" %>
  <%= f.link_to_add "Add Poster", :posters, class: "btn btn-warning form-buttons-margin" %>
  <%= f.submit "Create", class: "btn btn-primary form-buttons-margin" %>
  <%= link_to "Back", :back, class: "btn btn-success form-buttons-margin" %>

<% end %>
