<div class="container">
  <%= render 'movie_details', movie: @movie %>
  
  <h3 class="poster-heading"> Posters </h3>
  <div class="owl-carousel owl-theme">
    <%= render @posters %>
  </div>

  <div class="panel panel-primary review-panel-width">
    <div class="panel-heading"> <h4> <strong> Reviews </strong> </h4></div>
    <div class="panel-body">
      <div id="reviews">
        <%= render @reviews %>
      </div>
      <%= render_reviews_form %>
    </div>
  </div>

  <div class="row">
    <div class = "btn-margin">
      <%= link_to "All Movies", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    items: 4
  });
</script>

