<h1> Movie Details </h1>
<div class="container">
  
  <div class="row">
    <div class="small-2 large-4 columns">
      <% if current_user %>
        <span class="avg"> <strong> Rate: </strong> </span>
        <%= rate(@movie) %>
      <% end %>
      <div class="adjust_avg">
        <span class="avg"> <strong> Average Rating: </strong> </span>
        <%= avg_rating(@movie) %>
      </div> 
    </div>
  </div>
  
  <h3> Titile: <%= @movie.title %> </h3>
  <p> Released Year: <%= @movie.year %> </p>
  <p> Description: <%= raw(@movie.description) %> </p> <hr>

  <%= get_trailor(@movie.trailor.split('/')[-2], @movie.trailor.split('=')[-1], @movie.trailor.split('/')[-1]) %> <hr>
  
  <section id="actors">
    <h2> All Actors </h2>
    <ul> <%= render @movie.actors %> </ul> <hr>
  </section>
  
  <section id="posters">
    <h2> All Posters </h2>
    <div class="row">
      <%= render @movie.posters %>
    </div> <hr>
  </section>
  
  <section id="reviews">
    <h2>Reviews</h2>
    <%= render @movie.reviews %>
    <%= render 'reviews/form' %>
  </section>
  
  <div class="row">
    <div class = "btn-margin">
      <%= link_to "All Movies", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

