<h1> Movie Details </h1>
<div class="container">
  <h3> Titile: <%= @movie.title %> </h3>
  <p> Released Year: <%= @movie.year %> </p>
  <p> Description: <%= @movie.description %> </p>

  <%= get_trailor(@movie.trailor.split('/')[-2], @movie.trailor.split('=')[-1], @movie.trailor.split('/')[-1]) %>

  <%= link_to "Back", :back, class: "btn btn-success" %>
  
  <% if can? :manage, @movie %>
    <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-info" %>
    <%= link_to "Delete", @movie, method: :delete, class: "btn btn-danger" %>
  <% end %>
  
  <%= link_to "All Movies", movies_path, class: "btn btn-primary" %>
</div>
