<div class="container">
  <%= image_tag @user.image.url(:thumb), class: "img-responsive img-thumbnail profile_pic", style: "height: 227px" %>
  
  <div class="user_info">
    <p> Name: <%= @user.username.capitalize %> </p>
    <p> Email <strong> <%= @user.email %> </strong> </p>
    <p> Gender: <%= @user.gender %> </p>
    <p> <%= link_to "Back", :back, class: "btn btn-primary" %></p>
  </div>
</div>
