<tr id="actor_row_<%= actor.id %>">
  <td> <%= actor.id %> </td>
  <td> <%= actor.name %> </td>
  <td class="actor-description-width"> <%= actor.description %> </td>
  <td> 
    <%= link_to "View", [:admin, actor] %> | 
    <%= get_edit_link(actor) %> | <%= get_delete_link(actor) %> 
  </td>
</tr>
