<%= render 'shared/errors', resource: @movie, resource_name: "Movie" %>

<%= nested_form_for [:admin, @movie], html: { multipart: true } do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: "form-control" %>
  
  <%= f.label :description, "Description", class: 'form-year-margin' %>
  <%= f.cktext_area :description, class: "form-control", ckeditor: { language: 'english'} %>
  
  <%= f.label :year, "Released Year", class: 'form-year-margin' %>
  <%= f.select :year, Date.today.year-10 .. Date.today.year+10, { prompt: "Select Year" }, class: "form-control" %>
  
  <%= f.label :trailor, "Trailor", class: 'form-year-margin' %>
  <%= f.text_field :trailor, class: "form-control form-trailor-margin" %>
  
  <%= render "nested_actors", f: f %>
  
  <%= render "nested_posters", f: f %>
  
  <%= f.link_to_add "Add Actor", :appearences, class: "btn btn-info form-buttons-margin" %>
  <%= f.link_to_add "Add Poster", :posters, class: "btn btn-warning form-buttons-margin" %>
  
  <p> <%= f.submit class: "btn btn-primary form-buttons-margin" %> </p>
<% end %>
