<tr id="movie_row_<%= movie.id %>">
  <td> <%= movie.id %> </td>
  <td> <%= movie.title %> </td>
  <td> 
    <%= link_to "View", movie_path(movie) %> | 
    <%= link_to "Edit", edit_admin_movie_path(movie) %> | 
    <%= get_featured_link(movie) %> |
    <%= link_to "Delete", [:admin, movie], method: :delete, data: {confirm: 'Are you sure?'} %> 
  </td>
</tr>
