<div id="review_<%= review.id %>" class = "review_body">
  <p class=""> 
    <%= review.content %>
    <span class="pull-right"> <%= link_of_edit(review) %> </span>
    <span class="pull-right delete-link-margin"> <%= link_of_delete(review) %> </span>
    <p>
      <strong>
        By <%= get_review_info(review) %>
      </strong>
    </p> 
    <p> 
      <span> 
      <%= link_of_report(review) %> 
      </span> 
    </p> 
    <p class="report-msg" id="report_msg_<%= review.id %>"></p>
  </p>
<hr class = "hr-style"> </div> 
