<div id="review_<%= review.id %>">
  <p class="review_body"> 
    <%= review.content %> 
    <p> By <strong> <%= review.username %> </strong> </p> 
    <p> <span> <%= link_of_edit(review) %> | <%= link_of_delete(review) %>  </span> </p> 
  </p>
<hr> </div> 
