<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    
    <% if user_signed_in? %>
      <p>
        Welcome! <strong> <%= current_user.email %> </strong> 
        <span> <%= link_to "Profile", user_path(current_user) %> </span>
        <span> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </span> 
      </p>
    <% else %>
      <p> <%= link_to "Sign in", new_user_session_path %> </p>
    <% end %>
  
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </div>  

</body>
</html>
